<div class="row flex-column flex-item">
  <div class="col-md-12 proj-mag flex-column">
    <div class="flex-row flex-center">
      <img src="assets/images/proj/icon_xm.jpg" style="height: 40px;"/>
      <div class="flex-item" style="margin-left: 20px;">
        <span style="color:#448bff; font-size: 20px;">项目名称</span>
        <div style="">{{vm.project.name}}<div class="my-icons icon-db">督办</div></div>
      </div>
    </div>
    <ul class="flex-row flex-between">
      <li>
        <span>项目类型</span></br>
        <span style="font-size: 16px">{{vm.project.type}}</span>
      </li>
      <li>
        <span>项目主负责人</span></br>
        <span style="font-size: 16px">{{vm.project.owner}}</span>
      </li>
      <li>
        <span>项目启动日期</span></br>
        <span style="font-size: 16px">{{vm.project.date}}</span>
      </li>
      <li>
        <span>项目当前阶段</span></br>
        <span style="font-size: 16px">{{vm.project.stage}}</span>
      </li>
      <li>
        <span>项目状态</span></br>
        <span style="font-size: 16px">{{vm.project.state}}</span>
      </li>
    </ul>
  </div>
  <div class="col-md-12 xmgzrwgl">
    <span style="margin-left: 20px;">项目工作任务管理</span>
  </div>
  <div class="col-md-12 flex-item flex-row no-shrink no-wrap">
    <div class="leftside">
      <div style="margin-top: 20px;">
        <span>按</span>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            在办<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">待办</a></li>
          </ul>
        </div>
        <span>排序</span>
      </div>
      <div class="all-proj">
        <ul class="proj-list">
          <li ng-repeat="task in vm.tasks"
              ui-sref-active="active"
              ui-sref="root.project.task({projectId: vm.projectId, taskId: task.id})">
            <div class="proj-main">
              <span style="font-size: 16px;">{{task.name}}</span>
              <div class="my-icons icon-db" ng-if="0 == task.state">督办</div>
              <div class="my-icons icon-yc" ng-if="1 == task.state">延迟</div>
              <div class="my-icons icon-wc" ng-if="2 == task.state">完成</div>
              </br>
              <span style="font-size: 13px;margin-top: 13px;">开始时间 {{task.date}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="rightside flex-item flex-column" ui-view="task">
    </div>
  </div>
</div>
